{
  "name": "Botty McBotface",
  "username": "botty_mcbotface",
  "api_token": "1234567:suchtoken_verysecret",
  "spaceapi_url": "https://youtu.be/oavMtUWDBTM",
  "telegram_channel_id": -10111213141516
}
